.task {
  background: beige;
  margin: 5px;
  padding: 15px 20px;
  cursor: pointer;
}

/*  */
.task.reminder {
  border-left: 4px solid green;
  background: greenyellow;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
